.button {
  user-select: none;
  max-width: 200px;
  box-shadow: 0 0 25px 5px #00000050;
  border-radius: 10px;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  overflow: hidden;
  transition: 0.2s all;
  color: #ffff;
}

.button .main {
  display: flex;
  flex-direction: column;
}
.button ::before {
  position: fixed;
  content: "";
  box-shadow: 0 0 20px 15px #ffffff50;
  top: -10px;
  left: -100%;
  transition: rotate(-45deg);
  height: 80rem;
  transition: 0.7s all;
}
.button:hover {
  border: 1px solid #ffffff20;
  box-shadow: 0 7px 30px 5px #000000aa;
  transform: scale(1);
  filter: brightness(1.1);
}
.button:hover ::before {
  filter: brightness(0.5);
  top: -100%;
  left: 200%;
}
